* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #797979;
}

body {
    font-family: 'Pretendard';
    font-size: 16px;
    line-height: 1;
    min-width: 1320px;
}


/* 헤더 */

header {
    width: 100%;
    box-shadow: 0px 3px 15px rgba(185, 185, 185, 0.3);
    position: fixed;
    background-color: #fff;
    z-index: 999;
}

.header_in {
    width: 100%;
    /* max-width: 1784px; */
    margin: auto;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    align-items: center;
    position: relative;
}

.logo {
    display: block;
    position: absolute;
    left: 75px;
}

.icon{
    position: absolute;
    right: 85px;
}

.nav {
    width: 530px;
    margin: auto;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.nav>li {
    flex: 1;
}

.nav>li>a {
    font-weight: 700;
    color: #585858;
}

.icon a {
    display: inline-block;
    margin-left: 20px;
    box-sizing: border-box;
}

.nav>li>a:hover {
    color: #35a336;
    
}


/* 서브메뉴 */

.sub {
    width: 100%;
    height: 80px;
    position: absolute;
    left: 0;
    top: 90%;
    background-color: rgba(255, 255, 255, 0.397);
    display: none;
    z-index: 3;
}

.sub_in {
    width: 530px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
}

.sub_in ul {
    flex: 1;
    text-align: center;

}

.sub_in ul li a {
    display: block;
    margin: 10px 0;
    color:#777777;
    font-size: 16px;
    font-weight:400;
    letter-spacing: -0.3px;
    padding-bottom: 5px;
    box-sizing: border-box;
}

.sub_in ul li a:hover {
    color: #35a336;
}

/* 메인 */

.section1 {
    background-color: #f7f7f7;
    width: 100%;
}

/* 메인 슬라이드 100퍼 맞추기 */
.main1, .main2 {
    display: block;
    width: 100%;
    position: relative;
}




.main_btn {
    display: inline-block;
    position: absolute;
    bottom: 17%;
    left: 9%;
    box-sizing: border-box;
    color: #4b704b;
    font-size: 24px;
    font-weight: 800;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 30px;

}

.main_btn:hover {
    background-color: #f3b91b;
    color: #fff;
    transition: all 0.3s;
}



/* 컨텐츠1 왼쪽박스 */

.con1{
    width: 100%;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 180px; */
    box-sizing: border-box;

}



.con1_left{
    width: 30%;
    padding-top: 200px;
    padding-left: 80px;
    box-sizing: border-box;
}

h1{
    font-size: 90px;
    padding-bottom: 10px;
    font-weight: 900;
}

p{
    font-size: 24px;
    font-weight: bold;
    color: #35a336;
    padding-bottom: 30px;
}

h2{
    font-size: 40px;
    font-weight: 500;
    line-height: 1.3;
}

span{
    font-weight: 800;
}

.con1_btn{
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    background-color: #35a336;
    color: #fff;
    padding: 10px 15px;
    border-radius: 50px;
    margin-top: 30px;
}

.con1_btn:hover{
    background-color: #ffffff;
    color: #35a336;
    transition: all 0.3s;
    box-shadow: 2px 2px 13px rgb(214, 214, 214);
}


/* 컨텐츠2 NEW */

.con2{
    width: 100%;
    padding: 250px 0 200px 0;
    box-sizing: border-box;
}

.con2_wrap{
    width: 1292px;
    margin: auto;
    display: -moz-stack;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.con2_left{
    width: 366px;
}

.con2_left h1{
    font-size: 50px;
    font-weight: 800;
    letter-spacing: -1px;
}

.con2_left h2{
    font-size: 28px;
    font-weight: 800;
    letter-spacing: -2px;
    margin: 30px 0 20px;
}

.con2_left p{
    font-size: 18px;
    font-weight: 300;
    color: #232323;
    line-height: 1.5;
}

.btn_wrap{
    display: -moz-stack;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
}

.con2_btn{
    font-size: 26px;
    background-color: #ffba00;
    color: #fff;
    font-weight: 600;
    padding: 30px 15px;
    box-sizing: border-box;
    margin-right: 15px;
    transition: all 0.5s;
}

.con2_btn:hover{
    background-color: #eeeeee;
    color: #ffba00;
}


.con2_right{
    width: 600px;
    position: relative;
}

.con2_right img{
    display: block;
}

.con2_salad{
position: relative;
z-index: 99;
}

.n1{
    position: absolute;
    top: 0px;
    left: -130px;
    animation: n1 0.7s linear alternate infinite;
}

.n2{
    position: absolute;
    top: 200px;
    left: -150px;
    animation: n2 0.7s linear alternate infinite;
}

.n3{
    position: absolute;
    bottom: 200px;
    left: -70px;
    animation: n3 0.7s linear alternate infinite;
}

.n4{
    position: absolute;
    bottom: 0px;
    left: -40px;
    animation: n4 0.7s linear alternate infinite;
}

.n5{
    position: absolute;
    top: -70px;
    left: -73px;
}


@keyframes n1{
    0% { top:0px; }
    100% { top:20px;}
}

@keyframes n2{
    0% { top:200px; }
    100% { top:180px;}
}

@keyframes n3{
    0% { bottom:200px; }
    100% { bottom:180px;}
}

@keyframes n4{
    0% { bottom:0px; }
    100% { bottom:10px;}
}



/* 리뷰 */

.con3{
    width: 100%;
}

.con3 p{
    text-align: center;
    color: #565656;
    font-weight: 300;
    line-height: 0.4;
    font-size: 30px;
    letter-spacing: -1px;
    margin-bottom: 7px;
}

.con3 span{
    color:#17913f;
}


.con3 .fontsize{
    font-size: 40px;
    font-weight: 900;
}

.review_box1{
    background-color: #f5f5f5;
    padding: 22px 20px;
    border-radius: 20px 20px 0 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-weight: 800;
    font-size: 18px;
}

.review_box2{
    height: 280px;
    box-shadow: 3px 3px 20px rgb(231, 231, 231);
    padding: 30px 30px 0 30px;
    border-radius: 0px 0px 20px 20px;
    box-sizing: border-box;
    color:#202020;
    font-size: 17px;
    line-height: 1.7;
}

.review_box1 span{
    color: #ed2828;
}

.review_box1 b{
    font-weight: 300;
    font-size: 14px;
    color: #b3b3b3;
}

.con3_text{
    width: 100%;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
}


/* 배너 컨텐츠4 */
.con4{
    width: 100%;
    height: 900px;
    position: relative;
    margin-top: 150px;
}

.con4_yellow{
    background: url(../images/con4_bg.png) no-repeat center top;
    height: 360px;
    text-align: center;
    padding: 80px 0;
    box-sizing: border-box;
    color: #fff;
}

.con4_yellow h1{
    font-size: 60px;
    line-height: 1.3;
    font-weight: 300;
}

.img_wrap{
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    text-align: center;
    margin: auto;
    width: 1320px;
    position: absolute;
    left: 50%;
    top: 290px;
    transform: translateX(-50%);
    /* position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%); */
}

.con4_box1, .con4_box2, .con4_box3{
    width: 33%;
    height: 509px;
    padding: 30px 0;
    box-sizing: border-box;
}

.con4_box1{
    background: url(../images/con4_1.png) center top no-repeat;
}

.con4_box2{
    background: url(../images/con4_2.png) center top no-repeat;
}

.con4_box3{
    background: url(../images/con4_3.png) center top no-repeat;
}

.img_wrap h3{
    font-size: 34px;
    font-weight: 300;
    color: #fff;
    line-height: 1.3;
    margin-bottom: 15px;
}

.img_wrap p{
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    line-height: 1.4;
}

/* 띠 */

.marquee2{
    background-color: #31aa58;
    height: 34px;
    padding: 20px 0 10px 0;
    overflow: hidden;
    position: relative;
    margin-top: 150px;
}

.marquee2 div{
    width: 200%;
    height: 34px;
    background: url(../images/line_text.png) repeat-x;
    position: absolute;
    animation: marquee2 13s linear infinite;
}
@keyframes marquee2{
    0%{right: 0;}
    100%{right: -100%;}
}


/* 배너 */

/* .banner{
    display: block;
    width: 100%;
}

.banner img{
    width: 100%;
    display: block;
} */


/* 푸터 */


footer{
    width: 100%;
    background-color: #309a52;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    padding: 50px 0 0 0;
}


.footer_in ul{
    display: -moz-stack;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    margin: 30px 0 10px 0;
}

.footer_in ul li a{
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
}

.footer_in ul li a:hover{
    color: #87daa3;
}

footer p{
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    line-height: 1.5;

}


/* 탑버튼 */
/* .top{
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 100px;
    right: 100px;
    z-index: 999;
} */