* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #797979;
}

body {
    font-family: 'Pretendard';
    font-size: 16px;
    line-height: 1;
    min-width: 1440px;
}

/* 헤더 */
header {
    width: 100%;
    background-color: #ffffffd3;
    padding: 25px 0;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;

}

.header_in {
    width: 90%;
    max-width: 1440px;
    margin: auto;
    display: -moz-stack;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav {
    width: 733px;
    display: -moz-stack;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
}

.nav li a {
    color: #9b9b9b;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.2s;
}

.nav li a:hover {
    color: #9fea3d;
}

/* 메뉴 호버 */

/*  하이퍼링크 설정  */

.nav {
    text-transform: uppercase;
    text-align: center;
}

.nav>li {
    float: left;
    width: 25%;
}

.nav>li>a {
    display: block;
    position: relative;
}

.solid {
    width: 50%;
    height: 100%;
    background: #9fea3d;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition-property: opacity, transform;
    transition-duration: 0.5s;
    position: absolute;
    top: 0;
    left: 25%;
    z-index: -1;
    visibility: hidden;
}

.solid4 {
    width: 80%;
    left: 9%;
}

.nav>li>a:hover {
    color: #ffffff;
    /* font-weight: bold; */
}

.nav>li>a:hover .solid {
    transform: scaleX(1);
    opacity: 1;
    visibility: visible;
}

/* 헤더끝 */


/* 서브메뉴 */

.sub {
    width: 100%;
    height: 80px;
    position: absolute;
    left: 0;
    top: 90%;
    background-color: rgba(255, 255, 255, 0.397);
    display: none;
    z-index: 3;
}

.sub_in {
    width: 530px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
}

.sub_in ul {
    flex: 1;
    text-align: center;

}

.sub_in ul li a {
    display: block;
    margin: 10px 0;
    color: #777777;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.3px;
    padding-bottom: 5px;
    box-sizing: border-box;
}

.sub_in ul li a:hover {
    color: #35a336;
}


/* 총 크기 */
section {
    padding: 0px 0 20px;
    background-color: #fafafa;
    padding-top: 100px;
}

/* 커스텀 */

.title{
    width: 300px;
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    background-color: #9fea3d;
    padding: 15px;
    border-radius: 100px;
    box-sizing: border-box;
}


/* 채소,토핑,드레싱 고르기 */
.step {
    width: 1000px;
    margin: auto;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    box-sizing: border-box;
    text-align: center;
    color: #91e426;
    align-items: center;
}

.step_in {
    width: 280px;
    height: 280px;
    border-radius: 300px;
    background-color: #fff;
    box-shadow: 2px 2px 20px rgb(223, 223, 223);
    box-sizing: border-box;
    padding: 40px;
}

h3 {
    font-size: 30px;
    padding-bottom: 30px;
}

h2 {
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 15px;
}

.step_in p {
    font-size: 20px;
    padding-bottom: 35px;
}

.step_in a {
    color: #fff;
    font-size: 20px;
    background-color: #89da20;
    padding: 5px 25px;
    border-radius: 20px;
    font-weight: 600;
}

.step_in a:hover {
    background-color: #fff;
    color: #89da20;
    border: 3px solid #89da20;
}

/* 채소 팝업창 */

.popup,
.popup2,
.popup3 {
    width: 750px;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    left: calc(50% - 350px);
    top: 200px;
    background-color: #fff;
    display: none;
    z-index: 99;
    border-radius: 30px;
}

.vege_wrap {
    display: -moz-stack;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.popup img,
.popup2 img {
    display: inline-block;
}

.popup>p,
.popup2>p,
.popup3>p {
    width: 100%;
    text-align: right;
}

.x_btn{
    display: block;
    color: #9fea3d;
    padding: 20px 25px 0;
    box-sizing: border-box;
    font-size: 34px;
    font-weight: 300;
}


.hover_text {
    width: 250px;
    height: 250px;
    position: relative;
}

.hover_text>p {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 23px;
    font-weight: 800;
    display: none;
    color: #35a336;
}


.hover_text:hover p {
    display: block;
}

.hover_text:hover img {
    opacity: 0.3;
}

.hover_text i {
    font-size: 14px;
    font-weight: 500;
    color: #35a336;
}

.line {
    line-height: 1.1;
}


/* 샐러드 */

.section2 {
    width: 1276px;
    margin: 100px auto;
}

h1 {
    width: 250px;
    margin: auto;
    text-align: center;
    /* margin-top: 40px; */
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: 900;
    background-color: #9fea3d;
    color: #fff;
    padding: 15px;
    border-radius: 100px;
    box-sizing: border-box;
}

.salad_wrap {
    height: 1000px;
    display: -moz-stack;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.salad img {
    display: block;
}

/* 샐러드 호버 박스 */

.salad_box{
    position: relative;
    text-align: center;
    color: #3f9d48;
}

.salad_text{
    width: 100%;
    /* height: 100%; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    display: none;
    /* z-index: 99; */
}

.salad_text h4{
    font-size: 30px;
    padding-bottom: 10px;
}

.salad_text .in{
    font-size: 20px;
    padding-bottom: 40px;
}

.salad_text p{
    font-size: 16px;
    line-height: 1.4;
}

.salad_box:hover img{
    opacity: 0.2;
}

.salad_box:hover .salad_text{
    display: block;
}






/* 포케 */

.section2 {
    width: 1276px;
    margin: 100px auto;
}

h1 {
    width: 250px;
    margin: auto;
    text-align: center;
    /* margin-top: 40px; */
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: 900;
    background-color: #9fea3d;
    color: #fff;
    padding: 15px;
    border-radius: 100px;
    box-sizing: border-box;
}

.salad_wrap {
    height: 1000px;
    display: -moz-stack;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.salad img {
    display: block;
}

/* 샐러드 호버 박스 */

.salad_box{
    position: relative;
    text-align: center;
    color: #3f9d48;
}

.salad_text{
    width: 100%;
    /* height: 100%; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    display: none;
    /* z-index: 99; */
}

.salad_text h4{
    font-size: 30px;
    padding-bottom: 10px;
}

.salad_text .in{
    font-size: 20px;
    padding-bottom: 40px;
}

.salad_text p{
    font-size: 16px;
    line-height: 1.4;
}

.salad_box:hover img{
    opacity: 0.2;
}

.salad_box:hover .salad_text{
    display: block;
}


/* 푸터 */
.foot_top {
    background-color: #fbfbfb;
    padding: 60px 0;
}

.foot_top h2 {
    font-size: 24px;
    color: #474646;
    text-align: center;
    font-weight: 600;
}

.foot_top .icon {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    padding: 35px 0 0 0;
}

.foot_top .icon img {
    opacity: 0.7;
}

.foot_top .icon img:hover {
    opacity: 1;
}

.foot_top li {
    margin-right: 20px;
}

.last {
    margin: 0;
}

.foot_bottom {
    background-color: #fff;
    box-shadow: 0 0 15px rgb(238, 238, 238);
}

.foot_bottom_in {
    width: 1440px;
    margin: auto;
    display: -moz-stack;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    position: relative;
    align-items: center;
}

.foot_bottom_in .btn {
    background-color: #9fea3d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 0 0 15px #e7e7e7;
    transition: all 0.3s;
}

.btn a {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 170px;
    display: inline-block;
}

.foot_bottom_in p {
    font-size: 20px;
    color: #aeaeae;
}

.foot_bottom_in .btn:hover {
    box-shadow: 0 0 15px #c4c4c4;
}

/* 푸터끝 */