* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #797979;
}

body {
    font-family: 'Pretendard';
    font-size: 16px;
    line-height: 1;
    min-width: 1320px;
}

/* 헤더 */

header {
    width: 100%;
    box-shadow: 0px 3px 15px rgba(185, 185, 185, 0.3);
    position: fixed;
    background-color: #fff;
    z-index: 999;
    
}

.header_in {
    width: 100%;
    /* max-width: 1784px; */
    margin: auto;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    align-items: center;
    position: relative;
}

.logo {
    display: block;
    position: absolute;
    left: 75px;
}

.icon{
    position: absolute;
    right: 85px;
}

.nav {
    width: 530px;
    margin: auto;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.nav>li {
    flex: 1;
}

.nav>li>a {
    font-weight: 700;
    color: #585858;
}

.icon a {
    display: inline-block;
    margin-left: 20px;
    box-sizing: border-box;
}

.nav>li>a:hover {
    color: #35a336;
    
}


/* 서브메뉴 */

.sub {
    width: 100%;
    height: 80px;
    position: absolute;
    left: 0;
    top: 90%;
    background-color: rgba(255, 255, 255, 0.397);
    display: none;
    z-index: 3;
}

.sub_in {
    width: 530px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
}

.sub_in ul {
    flex: 1;
    text-align: center;

}

.sub_in ul li a {
    display: block;
    margin: 10px 0;
    color:#777777;
    font-size: 16px;
    font-weight:400;
    letter-spacing: -0.3px;
    padding-bottom: 5px;
    box-sizing: border-box;
}

.sub_in ul li a:hover {
    color: #35a336;
}



/* 내용타이틀 , 전체창*/

section{
    width: 1320px;
    margin: auto;
    padding: 80px 0;
    box-sizing: border-box;
    display: -moz-popup;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
}

h1{
    width: 100%;
    font-size: 80px;
    color: #404040;
    text-align: center;
    font-weight: 800;
}

/* 검색창 */

.search{
    width: 100%;
    display: -moz-popup;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: right;
    margin: 80px 0 50px 0;
}

#a{
    width: 134px;
    height: 50px;
    border-radius: 20px;
    background-color: #f7f7f7;
    border: none;
    color: #757575;
    padding: 15px;
    box-sizing: border-box;
    margin-right: 10px;
}

#b{
    width: 342px;
    height: 50px;
    border-radius: 20px;
    background: url(../sub5_images/icon.png)#f7f7f7 no-repeat 90% 47%;
    border: none;
    padding: 20px;
    box-sizing: border-box;
}

/* 이벤트1 */

.event{
    width: 100%;
    height: 374px;
    display: -moz-popup;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ebebeb;
    margin-bottom: 30px;
    box-sizing: border-box;
}

/* .event:hover{
    border: 1px solid #acacac;
} */

.event img{
    display: inline-block;
}

.left{
    width: 613px;
    overflow: hidden;
    cursor: pointer;
}

.right{
    padding: 145px 85px;
    line-height: 2;
    box-sizing: border-box;
    position: relative;
}

.btn{
    font-size: 18px;
    background-color: #ffb400;
    color: #fff;
    padding: 0 13px 0;
    border-radius: 50px;
    letter-spacing: 1px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.right h2{
    cursor: pointer;
}

.left img{
    transition: all 1s;
}

.event:hover .left img{
    transform: scale(1.1);
}

/* 푸터 */


footer{
    width: 100%;
    background-color: #309a52;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    padding: 50px 0 0 0;
}


.footer_in ul{
    display: -moz-stack;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    margin: 30px 0 10px 0;
}

.footer_in ul li a{
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
}

.footer_in ul li a:hover{
    color: #87daa3;
}

footer p{
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    padding-bottom: 30px;

}

/* 띠 */

.marquee2{
    background-color: #31aa58;
    height: 34px;
    padding: 20px 0 10px 0;
    overflow: hidden;
    position: relative;
    /* margin-top: 150px; */
}

.marquee2 div{
    width: 200%;
    height: 34px;
    background: url(../images/line_text.png) repeat-x;
    position: absolute;
    animation: marquee2 13s linear infinite;
}
@keyframes marquee2{
    0%{right: 0;}
    100%{right: -100%;}
}
